body {
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero {
    background-image: url(../imagens/reciclagem-de-papel-marrom-para-plano-de-fundo-e-texturizado_3236-1570.jpg);
    height: 100px;
    background-size: cover;
    background-position: right center;
    
    border-top: 1px solid transparent;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}

.hero-content p {
    background-color: rgba(0, 0, 0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.menu {
    overflow: hidden;
    background-color: #333;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background: #f1f1f1;
    color: black;
}

.menu a.active {
    background-color: #4CAF50;
    color: white;
}

main {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1 {
    width: 32%;
    margin-right: 2%;
    margin-left: 5%;
}
.card-2 {
    margin-right: 2%;
}

.card-3 {
    width: 22%;
    height: 20%;
    margin-right: 2%;
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 15px;
}

.content-header {
    border-bottom: solid 2px #ccc;
    padding: 10px;
    background: #eee;
}

.content-header h2 {
    margin: 0;
}

.rodape {
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #6b6c68;
    line-height: 80px;
}

h2{
    font-size: 30px;
}

div.center {
    text-align: center;
}


* {margin: 0; padding: 0;}
a,img {border: none;}
.trs {-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;}  
#slider {position: relative; z-index: 1;}
#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}

/*controladores*/
span {background: rgb(52, 201, 14); cursor: pointer; opacity: 0;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
.next {right: 10px;}
.next:before,.next:after {left: 21px;}
.next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
}
.next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
}
.next:before,.next:after,.prev:before,.prev:after {content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
}
.prev {left: 10px;}
.prev:before,.prev:after {left: 18px;}
.prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
}
.prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
}

figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}

    figure {
    max-width: 80%;
    height: 354px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}

figcaption {padding-left: 20px;color: #fff; font-family: "Kaushan Script","Lato","arial"; font-size: 22px; background: rgba(54, 224, 2, 0.76); width: 100%; position: absolute; bottom: 0; left: 0; line-height: 55px; height: 55px; z-index: 5}

