    p {
        border-style: ;
        padding-top: 50px;
        height: 150px;
        font-size: 19px;
    }
    
    h3 {
        border-style: dotted;
        padding-top: 50px;
        height: 150px;
    }
    
    .menu {
        overflow: hidden;
        background-color: #333;
        position: relative;
        bottom: 0px;
        width: 100%;
    }
    
    .menu a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .menu a:hover {
        background: #f1f1f1;
        color: black;
    }
    
    .menu a.active {
        background-color: #4CAF50;
        color: white;
    }
    
    h2 {
        alin padding: 50px;
        width: 430px;
        height: 350px;
        text-align: right;
    }
    
    h1 {
        margin: 1, 9px;
        text-align: center;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .foto {
        display: flex;
        position: relative;
        width: 500%;
        max-width: 300px;
    }
    
    .fotolado {
        flex: 33.33%;
        padding: 5px;
    }
